/* 最小主题 */
.topic-list-item {
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
	.link-top-line{
		.title {
        	font-weight: bold;
		hight:calc(100% + 10px);
      		}
	}
}

.topic-list {
	.link-bottom-line {
		.discourse-tags::before {
			content: "🔖";
			margin-left: 12px;
			margin-right: 2px;
		}
		.topic-creator {
			font-size: 0.50em;
			a {
				color: $primary;
			}
		}
	}
	.activity {
		min-width: 180px;
		width: auto;
	}
	.last-post {
		padding: 8px 5px;
		width: auto;
		.poster-avatar {
			float: left;
			/* margin: 5px 7px 0 30px; */
			margin-left: 2.50em;
		}
		.poster-info {
			width: calc(100% - 80px);
			float: right;
			overflow: hidden;
			text-align: justify;
			span.relative-date {
				color: $primary-high;
			}
			.editor a {
				color: $primary;
			}
		}
	}
}


/* 自适应 */

@media (max-width: 870px) {
    .topic-list .views {
        display: none;
    }
}
