/*标题加粗*/
.topic-list-item {
	.link-top-line{
		.title {
        	font-weight: bold;
      		}
	}
}

/* 最小主题 */
.full-width .topic-list .contents {
	border-collapse: separate;
	border-spacing: 0 0.25em;
	display: contents;
	thead {
		tr {
			background: var(--secondary);
			display: flex;
			border-bottom: none;
		}
	}	
	.link-bottom-line {
		.discourse-tags::before {
			content: "🔖";
			margin-left: 12px;
			margin-right: 2px;
		}
		.topic-creator {
			font-size: 0.50em;
			a {
				color: $primary;
			}
		}
	}
	.activity {
		min-width: 180px;
		width: auto;
	}
	.last-post {
		padding: 8px 5px;
		width: auto;
		.poster-avatar {
			float: left;
			/* margin: 5px 7px 0 30px; */
			margin-left: 2.50em;
		}
		.poster-info {
			width: calc(100% - 80px);
			float: right;
			overflow: hidden;
			text-align: justify;
			span.relative-date {
				color: $primary-high;
			}
			.editor a {
				color: $primary;
			}
		}
	}
}

/* 自适应 */

@media (max-width: 870px) {
    .topic-list .views {
        display: none;
    }
}
