/*标题加粗*/
.topic-list-item {
	.link-top-line{
		.title {
        	font-weight: bold;
      		}
	}
}

/* 最小主题 */
.full-width .topic-list .contents {
	border-collapse: separate;
	border-spacing: 0 0.25em;
	display: contents;
	thead {
		tr {
			background: var(--secondary);
			display: flex;
			border-bottom: none;
		}
	}	
	.link-bottom-line {
		.discourse-tags::before {
			content: "🔖";
			margin-left: 12px;
			margin-right: 2px;
		}
		.topic-creator {
			font-size: 0.50em;
			a {
				color: $primary;
			}
		}
	}
	.activity {
		min-width: 180px;
		width: auto;
	}
	.last-post {
		padding: 8px 5px;
		width: auto;
		.poster-avatar {
			float: left;
			/* margin: 5px 7px 0 30px; */
			margin-left: 2.50em;
		}
		.poster-info {
			width: calc(100% - 80px);
			float: right;
			overflow: hidden;
			text-align: justify;
			span.relative-date {
				color: $primary-high;
			}
			.editor a {
				color: $primary;
			}
		}
	}
}

/* 自适应 */
@mixin box-shadow($value: 0px) {
  box-shadow: 0 24px 40px rgba(0,0,0,.07),0 10.8529px 24.1177px rgba(0,0,0,.0456112),0 4.50776px 10.0172px rgba(0,0,0,.035),0 1.63037px 3.62304px rgba(0,0,0,.0243888);
}
.main-outlet {
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  max-width: 1150px;
  .archetype-regular & {
    min-height: 500px;
  }
  @media screen and (max-width: 700px) {
    padding: 1.5em;
    margin-top: 0;
  }
  padding-bottom: 5% !important; //overriding inline style
  @include box-shadow;
  @media screen and (max-width: 1120px) {
    width: 80%;
  }
  @media screen and (max-width: 1075px) {
    width: 85%;
  }
}

@media (max-width: 870px) {
    .topic-list .views {
        display: none;
    }
}
